.Header {
  background-color: white;
  color: black;
}

.userRoleSelection {
  color: black;
}

.submitButton {
  background-color: ghostwhite;
  color: black;
}
.navigationbar {
  margin-top: 5vh;
}
.rootContainer {
  width: 70vw;
  margin: 0 auto 0 auto;
}
