.addItemBox {
  width: 50%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.listItemBox {
  width: 50%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.warningBox {
  margin-top: 5vh;
  min-width: 20vw;
}
